<% if(nav=== false){ %>
    <div class="absolute bottom-0 bg-zinc-200 footerindex w-full px-5 py-4 text-center">
        <h1>Pinterest Clone by <strong>Aman Bhardwaj</strong>. Just a regular model</h1>
      </div>
<% }%>
    
</body>
</html>