*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: gilroy; */
}
html, body{
  height: 100%;
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label.label input[type="file"] {
  position: absolute;
  top: -1000px;
}
.label {
  cursor: pointer;
  border: 2px solid #fff;
  width:40%;
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  background: #25311f;
  display: inline-block;
}
.label:hover {
  background: #004b2c;
}
.label:active {
  background: #6a6e6c;
}
.label:invalid + span {
  color: #000000;
}
.label:valid + span {
  color: #ffffff;
}